amqp==1.0.13
anyjson==0.3.3
billiard==2.7.3.33
boto==2.15.0
celery==3.0.23
celery-haystack==0.7.2
Django==1.7.2
django-appconf==0.6
django-autoslug==1.7.1
django-bootstrap-form==2.0.6
django-celery==3.0.23
django-celery-transactions==0.1.3
-e git+https://github.com/CulturePlex/django-docviewer.git#egg=django-docviewer
django-guardian==1.2.5
django-haystack==2.2.0
django-jsonfield==0.9.10
django-model-utils==2.2
django-pdb==0.4.1
django-pipeline==1.3.15
django-ses==0.4.1
django-taggit==0.10
django-userena==1.3.1
django-zotero==0.4
easy-thumbnails==2.2
elasticsearch==1.3.0
futures==2.1.4
html2text==2014.12.29
ipdb==0.8
ipython==1.1.0
jsonfield==1.0.0
kombu==2.5.15
Pillow==6.2.0
-e git://github.com/rhec/pyelasticsearch.git@0fdecc5317a9e1a443cb1f6eaaa2db32900181fd#egg=pyelasticsearch-dev
python-dateutil==2.1
pytz==2013.7
requests==1.2.3
selenium==2.44.0
simplejson==3.3.1
six==1.9.0
splinter==0.7.0
urllib3==1.10
-e git://github.com/robertour/userena-bootstrap.git@7c9ddafa1c940f6ad972551ab5517e0ac9dd9f59#egg=userena_bootstrap-master
