Django
ipdb
pil
-e git+git://github.com/robertour/django-docviewer.git#egg=django-docviewer
#pyelasticsearch
-e git+git://github.com/rhec/pyelasticsearch.git#egg=pyelasticsearch
simplejson
django-bootstrap-form
django-userena
-e git+git://github.com/lukaszb/django-guardian.git#egg=django-guardian
django-pdb
-e git://github.com/robertour/userena-bootstrap.git#egg=userenabootstrap
django-jsonfield
django-zotero
django-tagging
boto
django-ses

