.hide #document-list-all, .hide #document-list-latest {
  display: none;
}

#document-list-all:hover, #document-list-latest:hover {
  cursor: pointer;
}

.simple-pagination ul#show-all {
  float:left;
  position:absolute;
  margin-right:5px;
}

div#pagination {
  margin-left:74px;
  margin-top:-5px;
}
