.hide #document-list-all, .hide #document-list-latest {
  display: none;
}

#document-list-all:hover, #document-list-latest:hover {
  cursor: pointer;
}

div.simple-pagination {
  display: inline-block;
}

div#pagination {
  display: inline-block;
  margin-left: -9px;
}
