/*Personalization of the project*/



.highlighted{
  background: #F1E90F url(../img/highlight.gif) repeat-x 0 bottom;
  padding: 0;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border: 1px solid #F5E800;
  color: black;
}

div.media-body p{
  margin-top: 10px;
}

a.summary{
  color: #000;
  display: block;
  border: 2px solid #FFF;
  padding: 3px;
  line-height: 1.2em;
  height: 6em;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 767px) {
  a.summary{
    height: none;
  }
}

a.summary:hover
{ 
  text-decoration: none;
  border: 2px solid #acf;
  border-radius: 16px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-box-shadow: inset 0px 0px 3px #acf;
  -moz-box-shadow: inset 0px 0px 3px #acf;
  box-shadow: inset 0px 0px 3px #acf;
}

.thumbnail-doc{
  border: 2px solid #fff;
}

.thumbnail-doc:hover{
  border: 2px solid #acf;
  border-radius: 16px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-box-shadow: inset 0px 0px 3px #acf;
  -moz-box-shadow: inset 0px 0px 3px #acf;
  box-shadow: inset 0px 0px 3px #acf;
}
