/*Personalization of the project*/
.hero-unit{
padding: 40px 200px 350px 200px;
background-color: white;
text-align: center;
background: white url(../img/phestos.png) no-repeat center 175px;
}

.hero-unit h2{
padding-bottom: 20px;
font-size: 50px;
}

.hero-unit .visual_search{
display: inline-block;
width: 500px;
}

#documents_cell {
  width: 220px;
}

#sharers_cell, #taggit_tags_cell {
  width: 283px;
}
.sharer, .taggit_tag {
  display: block;
  padding-top: 7px;
  vertical-align: baseline;
}
a.nolink{
  display: inline-block;
  vertical-align: top;
  height: 25px;
}

a.nolink:hover{
  background: white url(../img/remove.png) no-repeat right 7px;
  padding-right: 14px;
  margin-right: 10px;
  cursor: pointer;
}

#user-trash{
  vertical-align: top;
  margin-left: -5px;
}

.highlighted{
  background: #F1E90F url(../img/highlight.gif) repeat-x 0 bottom;
  padding: 0;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border: 1px solid #F5E800;
  color: black;
}

div.media-body p{
  margin-top: 10px;
}

a.summary{
  color: #000;
  display: block;
  border: 2px solid #FFF;
  padding: 3px;
  line-height: 1.2em;
  height: 6em;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 767px) {
  a.summary{
    height: none;
  }
}

a.summary:hover
{
  text-decoration: none;
  border: 2px solid #acf;
  border-radius: 16px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-box-shadow: inset 0px 0px 3px #acf;
  -moz-box-shadow: inset 0px 0px 3px #acf;
  box-shadow: inset 0px 0px 3px #acf;
}

.thumbnail-doc{
  border: 2px solid #fff;
}

.thumbnail-doc:hover{
  border: 2px solid #acf;
  border-radius: 16px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-box-shadow: inset 0px 0px 3px #acf;
  -moz-box-shadow: inset 0px 0px 3px #acf;
  box-shadow: inset 0px 0px 3px #acf;
}

input[type="text"]#id_users, input[type="text"]#id_taggit_tags {
  line-height: 15px;
  height: 15px;
  width: 100px;
  background: white url(../img/add.png) right no-repeat;
  padding-right: 17px;
  margin-bottom: 0px;
}

input[type="text"]#id_filter_docs, input[type="text"]#id_filter_collabs, input[type="text"]#id_filter_tags {
  line-height: 15px;
  height: 15px;
  width: 100px;
  background: white url(../img/filter-icon.png) right no-repeat;
  padding-right: 17px;
  margin-bottom: 0px;
}

.ui-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  display: none;
  min-width: 100px;
  _width: 100px;
  padding: 4px 0;
	margin: 2px 0 0 0;
  list-style: none;
  background-color: #ffffff;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
}

.ui-menu-item > a.ui-corner-all {
  display: block;
  padding: 3px 15px;
  clear: both;
  font-weight: normal;
  line-height: 18px;
  color: #555555;
  white-space: nowrap;
  cursor: pointer;
}

&.ui-state-hover, &.ui-state-active
{
  color: #ffffff;
  text-decoration: none;
  background-color: #0088cc;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  background-image: none;
}

fieldset.zotero-formset {
border:2px solid gray !important;
}

/*.document-actions a i.icon-white {*/
/*pointer-events: none;*/
/*cursor: default;*/
/*background-color: #ddd;*/
/*}*/

td.document-title {
/*max-width:231px;*/
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap
}

.progress {
width:80px;
}

span.demo {
}
span.demo:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -moz-animation: ellipsis 3s infinite;
  -webkit-animation:  ellipsis 3s infinite;
  -o-animation:  ellipsis 3s infinite;
  animation:  ellipsis 3s infinite;
  content: "\2026"; /* ascii code for ellipsis */
}
@keyframes ellipsis {
  from {
    width: 0px;
  }
  to {
    width: 12px;
  }
}
@-moz-keyframes ellipsis {
  from {
    width: 0px;
  }
  to {
    width: 12px;
  }
}
@-webkit-keyframes ellipsis {
  from {
    width: 0px;
  }
  to {
    width: 12px;
  }
}
@-o-keyframes ellipsis {
  from {
    width: 0px;
  }
  to {
    width: 12px;
  }
}

.tooltip-inner {
/*    white-space: pre;*/
    text-align: left;
    word-break: keep-all;
}
