{% extends 'base.html' %}
{% load i18n %}
{% load bootstrap %}


{% block content %}
<table class="table">
  <thead>
    <tr>
      <th>{% trans "Title" %}</th>
      <th>{% trans "Author" %}</th>
      <th>{% trans "Is Public?" %}</th>
      <th>{% trans "Owner" %}</th>
      <th>{% trans "State" %}</th>
      <th>{% trans "Actions" %}</th>
    </tr>
  </thead>
  <tbody>
  {% for book in books %}
    <tr>
      <td>{{ book.title }}</td>
      <td>{{ book.author }}</td>
      <td>
        {% if book.public %}
          <i class="icon-eye-open" title="public"></i>
        {% else %}
          <i class="icon-eye-open icon-white" title="private"></i>
        {% endif %}
      </td>
      <td>{{ book.owner }}</td>
      <td>{{ book.status }}</td>
      <td>
        <a href="{{ book.get_absolute_url }}">
          <i class="icon-file"></i>
        </a>
        <a href="{% url edit_book book.pk %}">
          <i class="icon-edit"></i> 
        </a>
        <a href="{% url remove_book book.pk %}">
          <i class="icon-remove"></i> 
        </a>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>

<a href={% url add_book %} class="btn offset4 span3" > {% trans "Upload a new Book" %} </a>

{% endblock %}
