{% extends 'base.html' %}
{% load i18n %}
{% load bootstrap %}
{% load pdb %}


{% block content %}
<div class="page-header">
<h1>{% trans "Festos" %}</h1>
</div>
<p>
{% blocktrans %}
Festos is an infrastructure for OCR'ing, indexing and searching documents.
{% endblocktrans %}
</p>
<h2>{% trans "Credits" %}</h2>
<p>
{% blocktrans %}
This project uses the icons provide by <a href="http://glyphicons.com/"> Glyphicons</a> under the arragment between them and <a href="http://twitter.github.com/bootstrap/">Bootstrap</a>.

The Festos logo was build upon the work of <a href="//de.wikipedia.org/wiki/Benutzer:Hannibal21" class="extiw" title="de:Benutzer:Hannibal21">D. Herdemerten</a> [<a href="http://creativecommons.org/licenses/by-sa/3.0/de/deed.en">CC-BY-SA-3.0-de</a>], <a href="http://commons.wikimedia.org/wiki/File%3ADiscos_Phaitos_Umzeichnung.png">via Wikimedia Commons</a>, and therefore keeping the same license.
{% endblocktrans %}
</p>
{% endblock %}
