{% load i18n static %}
{% get_static_prefix as STATIC_PREFIX %}
{% block head %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ PROJECT_NAME }} - {% block title %}{% trans "Welcome" %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">


    <link href="{{ STATIC_PREFIX }}bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ STATIC_PREFIX }}bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="{{ STATIC_PREFIX }}css/festos.css" rel="stylesheet">
    {% block extra_css %}
    {% endblock %}

    {% comment %}
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_PREFIX }}js/csrft.js"></script>
    <script src="{{ STATIC_PREFIX }}js/bootstrap-dropdown.js"></script>
    <script src="{{ STATIC_PREFIX }}js/bootstrap-collapse.js"></script>
    {% endcomment %}

    <script src="{{ STATIC_PREFIX }}js/jquery-1.6.1.js"></script>
    <script src="{{ STATIC_PREFIX }}js/jquery-ui-1.8.13/jquery.ui.core.js"></script>
    <script src="{{ STATIC_PREFIX }}js/jquery-ui-1.8.13/jquery.ui.position.js"></script>
    <script src="{{ STATIC_PREFIX }}js/jquery-ui-1.8.13/jquery.ui.widget.js"></script>
    <script src="{{ STATIC_PREFIX }}js/jquery-ui-1.8.13/jquery.ui.autocomplete.js"></script>
    <script src="{{ STATIC_PREFIX }}js/underscore-1.1.5.js"></script>
    <script src="{{ STATIC_PREFIX }}js/backbone-0.5.0.js"></script>

    {% block extra_metas %}{% endblock %}
    {% block extra_links %}{% endblock %}
    {% block extra_js %}{% endblock %}
    {% block extra_scripts %}{% endblock %}
  </head>
{% endblock %}

{% block body %}
<body {% block body_attrs %}{% endblock %}>

<div class="container">
  <div class="navbar">
  <div class="navbar-inner">
    <ul class="nav">
      <!--<li class="active">-->
      <li>
        <a href="{% url index %}">{% trans "Home" %}</a>
      </li>
      {% if user.is_authenticated %}
        <li><a href={% url list_books %}>{% trans "Books" %}</a></li>
      {% endif %}
      <li><a href="http://cultureplex.ca/">{% trans "About Us" %}</a></li>
      <li><a href="http://github.com/CulturePlex/festos">{% trans "Want to clone us?" %}</a></li>
    </ul>
    <ul class="nav pull-right">
      {% if user.is_authenticated %}
        <li><a href={% url userena_profile_detail user %}>{% trans "Profile" %}</a></li>
        <li><a href={{ LOGOUT_URL }}>{% trans "Log Out" %}</a></li>
      {% else %}
        <li><a href={{ LOGIN_URL }}>{% trans "Log In" %}</a></li>
      {% endif %}
    </ul>
  </div>
</div>

<div class="container">
{% block content %}
{% endblock %}
</div><!--/.container-->
<hr>


<footer>
{% block footer %}
  {{ CURRENT_DATE|date:"Y" }} &copy; {% trans "Copyright" %} by {{ PROJECT_NAME }} & 
  <a href="http://www.cultureplex.ca/">CulturePlex Lab</a>.
  {% trans "All rights reserved" %}.
  <a href="#">{% trans "Terms" %}</a> | 
  <a href="#">{% trans "FAQ" %}</a> | 
  <a href="#" >{% trans "Contact us" %}</a>
{% endblock %}
</footer>

    
</body>
</html>
{% endblock %}
