{% extends 'base.html' %}
{% load i18n %}
{% load bootstrap %}
{% load pdb %}


{% block content %}
<div class="row">
<div class="span12"></div>
<div class="span8 offset1">
  <form action="{% url add_document %}" enctype="multipart/form-data" method="post" class="form-horizontal">
      {% csrf_token %}
      {% for field in form %}
      {{ field|bootstrap }}
      {% endfor %}

      <input type="submit" value="{% trans "Add Document" %}" class="btn offset2" />
  </form>
</div>
</div>
{% endblock %}
