{% extends 'base.html' %}
{% load i18n %}
{% load bootstrap %}
{% load zotero_inline_tags from zotero_inline_extras %}

{% block content %}
<div class="row">
<div class="span12"></div>
<div class="span8 offset1">
  <form action="{% url 'edit_document' document.id %}" enctype="multipart/form-data" method="post" class="form-horizontal">
      {% csrf_token %}
      {% for field in eform %}
      {{ field|bootstrap }}
      {% endfor %}
      {% for field in rform %}
      {{ field|bootstrap }}
      {% endfor %}
      <div style="margin-left:100px; width:500px">
        {% zotero_inline_tags formset %}
      </div>
      <input type="submit" value="{% trans "Save Document" %}" class="btn offset2" />
  </form>
</div>
</div>
{% endblock %}
