{% extends 'base.html' %}
{% load i18n %}
{% load bootstrap %}

{% block extra_js %}


<style>
#remove:hover {cursor: pointer;}
</style>


<script type="text/javascript">

var prog;


$(document).ready(function(){
    pickers = $( ".picker" )
    if ( pickers.length){
        $( ".picker" ).autocomplete({
          source: function(request, response) {
                adata = { }
                adata['term'] = $(this).attr('element').val()
                $.ajax({
                 type: "POST",
                 dataType: 'json',
                 url: $(this).attr('element').data('url'),
                 async: false,
                 data: adata,
                 success: function(data) {
                      response(data)
                   },
               });
             },
          //$('.picker').data('url'),
          minLength: 2,
          select: function (ev, ui){
            adata = { }
            adata['doc_id'] = $(ev.target).parents(".document-row").data('id')
            adata['username'] = ui.item.value
            $.ajax({
              url: "add_sharer/",
              data: adata,
              dataType: 'json',
              type: 'GET',
              success: function(payload){
                location.reload();
              }})
          }
        });
    }
    
    
    pickers2 = $( ".picker2" )
    if ( pickers2.length){
        $( ".picker2" ).autocomplete({
          source: function(request, response) {
                adata = { }
                adata['term'] = $(this).attr('element').val()
                $.ajax({
                 type: "POST",
                 dataType: 'json',
                 url: $(this).attr('element').data('url'),
                 async: false,
                 data: adata,
                 success: function(data) {
                      response(data)
                   },
               });
             },
          //$('.picker').data('url'),
          minLength: 2,
          select: function (ev, ui){
            adata = { }
            adata['doc_id'] = $(ev.target).parents(".document-row").data('id')
            adata['tag'] = ui.item.value
            $.ajax({
              url: "add_taggit_tag/",
              data: adata,
              dataType: 'json',
              type: 'POST',
              success: function(payload){
                location.reload();
              }})
          }
      });
      
      $("input#id_taggit_tags").bind("enterKey",function(ev){
            adata = { }
            adata['doc_id'] = $(ev.target).parents(".document-row").data('id')
            adata['tag'] = $(this).val()
            $.ajax({
              url: "add_taggit_tag/",
              data: adata,
              dataType: 'json',
              type: 'POST',
              success: function(payload){
                location.reload();
              }})
      });
      
      $("input#id_taggit_tags").keypress(function(e){
          if(e.keyCode == 13)
          {
              $(this).trigger("enterKey");
          }
      });
      
    }
    
    var timer = window.setInterval(getStatus, 30000);
    
    function getStatus() {
      window.clearInterval(timer);
      
      docs = $(".document-status");
      var doc_ids = $.map(docs, function(d) {
        return $(d).attr('data-document-id');
      });
      if(doc_ids.length > 0)
        progress(doc_ids);
    }
    
    function progress(doc_ids) {
      $.ajax({
        type: "GET",
        url: "progress",
        data: {'ids': doc_ids},
        dataType: 'json',
        success: function (payload) {
          var counter_in_progress_docs = 0;
          for(var i=0; i<doc_ids.length; i++){
            var doc_id = doc_ids[i];
            var dict = payload[doc_id];
            
            var doc = $('.document-status[data-document-id="'+doc_id+'"]');
            doc.attr('data-document-status', dict['status']);
            var div_content = doc.children();
            div_content.text(dict['progress']);
            div_content.removeClass();
            div_content.addClass("label");
            
            div_content.attr("align", "center");
            if(dict["progress"] == "failed")
              div_content.addClass("label-important");
            else if(dict["progress"] == "ready"){
              div_content.addClass("label-success");
              }
            else if(dict["progress"] == "waiting") {
<!--              div_content.addClass("label-default");-->
<!--              div_content.addClass("demo-no");-->
              doc.html('<div align="center"><img src="../static/img/waiting.gif"></div>');
              counter_in_progress_docs++;
            }
            else if(dict["progress"] == "starting") {
              doc.html('<div class="progress progress-striped active"> <div class="bar bar-success" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100" style="width: 100%"> <span class="sr-only demo-no" style="font-weight:bold;">starting</span> </div></div>');
              counter_in_progress_docs++;
            }
            else { <!-- "processing" -->
              var np = dict.num_pages;
              var tp = dict.total_pages;
              var per = parseInt(np*100/tp);
              doc.html('<div class="progress"> <div class="bar bar-success" role="progressbar" aria-valuenow="" aria-valuemin="'+np+'" aria-valuemax="'+tp+'" style="width: '+per+'%"> <span class="sr-only" style="font-weight:bold;">'+dict["progress"]+'</span> </div></div>');
              counter_in_progress_docs++;
            }
          }
          if(counter_in_progress_docs > 0)
            timer = window.setInterval(getStatus, 30000);
          else
            window.clearInterval(timer);
          
          
          <!--Disable actions-->
          var waiting_docs = $('.document-status[data-document-status="waiting"]');
          var running_docs = $('.document-status[data-document-status="running"]');
          var failed_docs = $('.document-status[data-document-status="failed"]');
          var disabled_docs = $.merge(waiting_docs, $.merge(running_docs, failed_docs));
      
          var actions = disabled_docs.parent().children().last().children();
          var actionsHidable = actions.filter(".action-hidable");
          actionsHidable.hide();
          
          var icons = actions.children();
          var cancel = icons.filter(".icon-trash");
          cancel.removeClass("icon-trash");
          cancel.addClass("icon-ban-circle");
          cancel.attr("title", "Cancel");
        },
        error: function (payload) {
        },
        complete: function (payload) {
          <!--Enable actions-->
          var enabled_docs = $('.document-status[data-document-status="ready"]');
          
          var actions = enabled_docs.parent().children().last().children();
          actionsHidable = actions.filter(".action-hidable");
          actionsHidable.show();
          
          var icons = actions.children();
          var remove = icons.filter(".icon-ban-circle");
          remove.removeClass("icon-ban-circle");
          remove.addClass("icon-trash");
          remove.attr("title", "Remove");
        }
      });
    }
    
    getStatus();
    
    
    $(".document-actions #remove").live('click', function (ev) {
<!--      var id = ev.currentTarget.getAttribute('data-document-id');-->
<!--      var status = $('.document-status[data-document-id="'+id+'"]');-->
      var status = $(this).parent().parent().children().filter(".document-status");
      var div_content = status.children();
      div_content.text("remove?");
      div_content.removeClass();
      div_content.addClass("label");
      div_content.addClass("label-warning");
      var actions = status.parent().children().last().children();
      var actionsHidable = actions.filter(".action-hidable");
      actionsHidable.hide();
      var actionOk = actions.filter("#confirm-remove");
      actionOk.show();
      var icons = actions.children();
      var cancel = icons.filter(".icon-trash");
      cancel.removeClass("icon-trash");
      cancel.addClass("icon-ban-circle");
      cancel.attr("title", "Cancel");
      $(this).addClass("confirm-remove")
    });
    $(".document-actions .confirm-remove").live('click', function (ev) {
<!--      var id = ev.currentTarget.getAttribute('data-document-id');-->
<!--      var status = $('.document-status[data-document-id="'+id+'"]');-->
      var status = $(this).parent().parent().children().filter(".document-status");
      var old_status = status[0].getAttribute("data-document-status");
      var div_content = status.children();
      div_content.text(old_status);
      div_content.removeClass();
      div_content.addClass("label");
      if (old_status == "ready")
        div_content.addClass("label-success");
      else <!-- "failed" -->
        div_content.addClass("label-important");
      var actions = status.parent().children().last().children();
      var actionsHidable = actions.filter(".action-hidable");
      actionsHidable.show();
      var actionOk = actions.filter("#confirm-remove");
      actionOk.hide();
      var icons = actions.children();
      var cancel = icons.filter(".icon-ban-circle");
      cancel.removeClass("icon-ban-circle");
      cancel.addClass("icon-trash");
      cancel.attr("title", "Remove");
      $(this).removeClass("confirm-remove")
    });
})

</script>
{% endblock %}


{% block content %}
{% if documents %}
<table class="table">
  <thead>
    <tr>
      <th>{% trans "Document" %}</th>
      <th>{% trans "Collaborators" %}</th>
      <th>{% trans "Tags" %}</th>
      <th>{% trans "Owner" %}</th>
      <th><div align="center">{% trans "Status" %}</div></th>
      <th>{% trans "Actions" %}</th>
    </tr>
  </thead>
  <tbody>
  {% for document in documents %}
    <tr class="document-row" data-id="{{ document.id }}">
      <td class="document-title"><span title="{{ document.title }}">{{ document.title }}</span> <br/> <span style="color:gray; font-size:75%" title="{{ document.docfile_basename }}">{{ document.docfile_basename }}</span></td>
      <td class="document-collaborators">
          <div id="sharers_cell">
            <span id="sharers" >
            {% for sharer in document.get_users_with_perms %}
                <a class="nolink" href="{% url 'remove_sharer' document.pk sharer.username %}">
                <span class="sharer" data-id="{{ sharer.id }}">{{ sharer.username }}</span></a>{% if not forloop.last %},{% endif %}
            {% endfor %}
            </span>
            <input id="id_users" type="text" class="picker ui-autocomplete-input" name="user" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true" data-url="{% url 'autocomplete_users' document.pk %}" >
          </div>
      </td>
      <td class="document-tags">
          <div id="taggit_tags_cell">
            <span id="taggit_tags" >
            {% for taggit_tag in document.taggit_tags.names %}
                <a class="nolink" href="{% url 'remove_taggit_tag' document.pk taggit_tag %}">
                <span class="taggit_tag" data-id="{{ taggit_tag }}">{{ taggit_tag }}</span></a>{% if not forloop.last %},{% endif %}
            {% endfor %}
            </span>
            <input id="id_taggit_tags" type="text" class="picker2 ui-autocomplete-input" name="taggit_tag" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true" data-url="{% url 'autocomplete_taggit_tags' %}" >
          </div>
      </td>
      <td class="document-owner">{{ document.owner }}</td>
      <td class="document-status" data-document-id="{{ document.id }}" data-document-status="{{ document.status }}"><div class="label" align="center">{{ document.status }}</div></td>
      <td class="document-actions">
        <a href="{% url 'change_privacy_document' document.pk %}" class="action-hidable">{% if document.public %}<i class="icon-eye-open" title="Click to make it private"></i>{% else %}<i class="icon-eye-close" title="Click to make it public"></i>{% endif %}</a>
        <a title="View" href="{{ document.get_absolute_url }}" class="action-hidable"><i class="icon-file"></i></a>
        <a title="Edit" href="{% url 'edit_document' document.pk %}" class="action-hidable"><i class="icon-edit"></i></a>
        <a id="confirm-remove" title="Remove" href="{% url 'remove_document' document.pk %}" data-document-id="{{ document.id }}" style="display:none;"><i class="icon-ok"></i></a>
<!--        <a id="remove" title="Remove" href="{% url 'remove_document' document.pk %}"><i class="icon-trash"></i>-->
        <a id="remove" title="Remove" data-document-id="{{ document.id }}"><i class="icon-trash"></i></a>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endif %}

<a href={% url 'add_document' %} class="btn offset4 span3" > {% trans "Upload a new Document" %} </a>

{% endblock %}
