{% extends 'base.html' %}
{% load i18n %}
{% load bootstrap %}

{% block extra_js %}
<script type="text/javascript">
$(document).ready(function(){
    pickers = $( ".picker" )
    if ( pickers.length){
        $( ".picker" ).autocomplete({
          source: function(request, response) {
                adata = { }
                adata['term'] = $(this).attr('element').val()
                $.ajax({
                 type: "POST",
                 dataType: 'json',
                 url: $(this).attr('element').data('url'), 
                 async: false,
                 data: adata,
                 success: function(data) {  
                      response(data)
                   },
               });
             },
          //$('.picker').data('url'),
          minLength: 2,
          select: function (ev, ui){
            adata = { }
            adata['doc_id'] = $(ev.target).parents(".document-row").data('id')
            adata['username'] = ui.item.value
            $.ajax({
              url: "add_sharer/",
              data: adata,
              dataType: 'json',
              type: 'GET',
              success: function(payload){
                location.reload();
              }})
          }
        });
    }
})

</script>
{% endblock %}


{% block content %}
<table class="table">
  <thead>
    <tr>
      <th>{% trans "Author, Title" %}</th>
      <th>{% trans "Shared with" %}</th>
      <th>{% trans "Owner" %}</th>
      <th>{% trans "State" %}</th>
      <th>{% trans "Actions" %}</th>
    </tr>
  </thead>
  <tbody>
  {% for document in documents %}
    <tr class="document-row" data-id="{{ document.id }}">
      <td>{{ document.author }}, {{ document.title }}</td>
      <td> <span id="sharers" > 
      {% for sharer in document.get_users_with_perms %}
          <span class="sharer" data-id="{{ sharer.id }}"> {{ sharer.username }}
          <a href="{% url remove_sharer document.pk sharer.username %}"><i class="icon-minus-sign"></i></a>
          </span>
          {% if not forloop.last %} | {% endif %}
      {% endfor %} 
      </span>
      <input id="id_users" type="text" class="picker ui-autocomplete-input" name="user" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true" data-url="{% url autocomplete_users document.pk %}" >
      </td>
      <td>{{ document.owner }}</td>
      <td>{{ document.status }}</td>
      <td>
        <a href="{% url change_privacy_document document.pk %}">{% if document.public %}<i class="icon-eye-open" title="Click to make it private"></i>{% else %}<i class="icon-eye-open icon-white" style="background-color:#ccc;" title="Click to make it public"></i>{% endif %}</a>
        <a title="View" href="{{ document.get_absolute_url }}"><i class="icon-file"></i></a>
        <a title="Edit" href="{% url edit_document document.pk %}"><i class="icon-edit"></i></a>
        <a title="Remove" href="{% url remove_document document.pk %}"><i class="icon-trash"></i> 
        </a>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>

<a href={% url add_document %} class="btn offset4 span3" > {% trans "Upload a new Document" %} </a>

{% endblock %}
