{% extends 'base.html' %}
{% load i18n %}
{% load bootstrap %}

{% block extra_js %}


<style>
.document-actions a:hover {cursor: pointer;}
.document-info {
<!--    display:none;-->
<!--    background: url(../static/img/warning.png) no-repeat right;-->
<!--    background-size:16px;-->
<!--    text-indent:-9999px;-->
<!--    padding-left:20px;-->
}

<!--.nolink{-->
<!--	margin:0;-->
<!--	padding:0;-->
<!--	position:absolute;-->
<!--	right:24px;-->
<!--	bottom:-12px;-->
<!--	list-style:none;-->
<!--	}-->

.nolink span {
	float:left;
	height:24px;
	line-height:24px;
	position:relative;
	font-size:11px;
	}

.nolink span {
	margin-left:2px;
	padding:0 10px 0 12px;
	background:#0089e0;
	color:#fff;
	text-decoration:none;
	-moz-border-radius-bottomright:4px;
	-webkit-border-bottom-right-radius:4px;
	border-bottom-right-radius:4px;
	-moz-border-radius-topright:4px;
	-webkit-border-top-right-radius:4px;
	border-top-right-radius:4px;
	}

.nolink span:before {
	content:"";
	float:left;
	position:absolute;
	top:0;
	left:-12px;
	width:0;
	height:0;
	border-color:transparent #0089e0 transparent transparent;
	border-style:solid;
	border-width:12px 12px 12px 0;
	}

.nolink span:after {
	content:"";
	position:absolute;
	top:10px;
	left:0;
	float:left;
	width:4px;
	height:4px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	background:#fff;
	-moz-box-shadow:-1px -1px 2px #004977;
	-webkit-box-shadow:-1px -1px 2px #004977;
	box-shadow:-1px -1px 2px #004977;
	}

.nolink span:hover {background:#555;}

.nolink span:hover:before {border-color:transparent #555 transparent transparent;}




</style>


<script type="text/javascript">

var prog;


$(document).ready(function(){
    pickers = $( ".picker" )
    if ( pickers.length){
        $( ".picker" ).autocomplete({
          source: function(request, response) {
                adata = { }
                adata['term'] = $(this).attr('element').val()
                $.ajax({
                 type: "POST",
                 dataType: 'json',
                 url: $(this).attr('element').data('url'),
                 async: false,
                 data: adata,
                 success: function(data) {
                      response(data)
                   },
               });
             },
          //$('.picker').data('url'),
          minLength: 2,
          select: function (ev, ui){
            adata = { }
            adata['doc_id'] = $(ev.target).parents(".document-row").data('id')
            adata['username'] = ui.item.value
            $.ajax({
              url: "add_sharer/",
              data: adata,
              dataType: 'json',
              type: 'GET',
              success: function(payload){
                location.reload();
              }})
          }
        });
    }
    
    
    pickers2 = $( ".picker2" )
    if ( pickers2.length){
        $( ".picker2" ).autocomplete({
          source: function(request, response) {
                adata = { }
                adata['term'] = $(this).attr('element').val()
                $.ajax({
                 type: "POST",
                 dataType: 'json',
                 url: $(this).attr('element').data('url'),
                 async: false,
                 data: adata,
                 success: function(data) {
                      response(data)
                   },
               });
             },
          //$('.picker').data('url'),
          minLength: 2,
          select: function (ev, ui){
            adata = { }
            adata['doc_id'] = $(ev.target).parents(".document-row").data('id')
            adata['tag'] = ui.item.value
            $.ajax({
              url: "add_taggit_tag/",
              data: adata,
              dataType: 'json',
              type: 'POST',
              success: function(payload){
                location.reload();
              }})
          }
      });
      
      $("input#id_taggit_tags").bind("enterKey",function(ev){
            adata = { }
            adata['doc_id'] = $(ev.target).parents(".document-row").data('id')
            adata['tag'] = $(this).val()
            $.ajax({
              url: "add_taggit_tag/",
              data: adata,
              dataType: 'json',
              type: 'POST',
              success: function(payload){
                location.reload();
              }})
      });
      
      $("input#id_taggit_tags").keypress(function(e){
          if(e.keyCode == 13)
          {
              $(this).trigger("enterKey");
          }
      });
      
    }
    
    var TIME = 10000
    var timer = window.setInterval(getStatus, TIME);
    
    function getStatus() {
      window.clearInterval(timer);
      
      docs = $(".document-status");
      var doc_ids = $.map(docs, function(d) {
        return $(d).attr('data-document-id');
      });
      if(doc_ids.length > 0)
        progress(doc_ids);
    }
    
    function progress(doc_ids) {
      $.ajax({
        type: "GET",
        url: "progress",
        data: {'ids': doc_ids},
        dataType: 'json',
        success: function (payload) {
          var counter_in_progress_docs = 0;
          for(var i=0; i<doc_ids.length; i++){
            var doc_id = doc_ids[i];
            var dict = payload[doc_id];
            
            var npages = dict["total_pages"]
            var doc_npages = $('.document-row[data-id="'+doc_id+'"]').children().filter('.document-pages');
            doc_npages.children().html(npages);
            
            var doc_st = $('.document-status[data-document-id="'+doc_id+'"]');
            doc_st.attr('data-document-status', dict['status']);
            var div_content = doc_st.children().first();
            div_content.text(dict["status"]);
            div_content.removeClass();
            div_content.addClass("label");
            
            div_content.attr("align", "center");
            
            if(dict["status"] == "failed") {
              var docSt = doc_st.attr("data-actions-state-machine");
              if (!(docSt && docSt.indexOf("CANCEL-") == 0))
                doc_st.attr("data-actions-state-machine", "FAILED");
              div_content.addClass("label-important");
              doc_st.parent().children().last().children().filter("[id='retry']").show();
              var doc_error = $(".document-info#"+doc_id);
              if(dict["error"]) {
                doc_error.attr("data-original-title", dict["error"]);
                doc_error.show();
              }
              hookTooltips(doc_error);
            }
            else if(dict["status"] == "ready"){
              var docSt = doc_st.attr("data-actions-state-machine");
              if (!(docSt && docSt.indexOf("CANCEL-") == 0))
                doc_st.attr("data-actions-state-machine", "READY");
              div_content.addClass("label-success");
              var doc_error = $(".document-info#"+doc_id);
              if(dict["error"]) {
                doc_error.attr("data-original-title", dict["error"]);
                doc_error.show();
              }
              //if(dict["total_time"] > "0") {
                //var title = doc_error.attr("data-original-title");
                //if (title)
                //    title += ". ";
                //title += "Total processing time: " + dict["total_time"];
                //doc_error.attr("data-original-title", title);
                //doc_error.show();
              //}
              hookTooltips(doc_error);
              
              var tr_document = doc_st.parent();
              var doc_ttl = tr_document.children(".document-title");
              var span_ttl = doc_ttl.children().first();
              if(span_ttl.has('a').length == 0) {
                var ttl = span_ttl.attr('title');
                var href = span_ttl.attr('data-href');
                span_ttl.html('<a href="'+href+'" style="">'+ttl+'</a>');   
              }
            }
            else if(dict["status"] == "waiting") {
              var docSt = doc_st.attr("data-actions-state-machine");
              if (!(docSt && docSt.indexOf("CANCEL-") == 0))
                doc_st.attr("data-actions-state-machine", "PROCESSING");
              doc_st.html('<div align="center"><img src="../static/img/waiting.gif"> <span id="'+doc_id+'" data-toggle="tooltip" data-placement="right" title="Position in line" class="label label-info document-line-position" align="center">'+dict["position"]+'</span></div> <span title="" align="right" class="document-info" id="'+doc_id+'" data-toggle="tooltip" data-placement="right" style="display:none;"><i class="icon-info-sign"></i></span>');
              var positions = $(".document-line-position#"+doc_id);
              hookTooltips(positions);
              counter_in_progress_docs++;
            }
            else if(dict["status"] == "starting") {
              var docSt = doc_st.attr("data-actions-state-machine");
              if (!(docSt && docSt.indexOf("CANCEL-") == 0))
                doc_st.attr("data-actions-state-machine", "PROCESSING");
              doc_st.html('<div class="progress progress-striped active"> <div class="bar bar-success" role="progressbar" aria-valuenow="" aria-valuemin="0" aria-valuemax="100" style="width: 100%"> <span class="sr-only demo-no" style="font-weight:bold;">starting</span> </div></div> <span title="" align="right" class="document-info" id="'+doc_id+'" data-toggle="tooltip" data-placement="right" style="display:none;"><i class="icon-info-sign"></i></span>');
              counter_in_progress_docs++;
            }
            else { <!-- "processing" -->
              var docSt = doc_st.attr("data-actions-state-machine");
              if (!(docSt && docSt.indexOf("CANCEL-") == 0))
                doc_st.attr("data-actions-state-machine", "PROCESSING");
              var np = dict.num_pages;
              var tp = dict.total_pages;
              var per = parseInt(np*100/tp);
              var progress = np + " / " + tp;
              doc_st.html('<div class="progress"> <div class="bar bar-success" role="progressbar" aria-valuenow="" aria-valuemin="'+np+'" aria-valuemax="'+tp+'" style="width: '+per+'%"> <span class="sr-only" style="font-weight:bold;">'+progress+'</span> </div></div> <span title="" align="right" class="document-info" id="'+doc_id+'" data-toggle="tooltip" data-placement="right" style="display:none;"><i class="icon-info-sign"></i></span>');
              counter_in_progress_docs++;
            }
          }
          if(counter_in_progress_docs > 0)
            timer = window.setInterval(getStatus, TIME);
          else
            window.clearInterval(timer);
          
          showActions(doc_ids);
        },
        error: function (payload) {
        },
        complete: function (payload) {
          showActions(doc_ids);
        }
      });
    }
    
    function showActions(doc_ids) {
      for(var i=0; i<doc_ids.length; i++) {
        var doc_id = doc_ids[i];
        var status = $('.document-status[data-document-id="'+doc_id+'"]');
        var actions = $('.document-actions[data-document-id="'+doc_id+'"] a');
        var state = status.attr("data-actions-state-machine");
        var actions_show = actions.filter("."+state);
        actions.hide();
        actions_show.show();
      }
    }
    
    getStatus();
    
    
    $(".document-actions #remove").live('click', function (ev) {
      var status = $(this).parent().parent().children().filter(".document-status");
      status.attr("data-actions-state-machine", "CANCEL-READY");
      var doc_id = status.parent().attr("data-id");
      showActions([doc_id]);
      
      var div_content = status.children().first();
      div_content.text("remove?");
      div_content.removeClass();
      div_content.addClass("label");
      div_content.addClass("label-warning");
    });
    
    $(".document-actions #cancel-remove").live('click', function (ev) {
      var status = $(this).parent().parent().children().filter(".document-status");
      var actionSt = status.attr("data-actions-state-machine");
      if (actionSt == "CANCEL-PROCESSING")
        status.attr("data-actions-state-machine", "PROCESSING");
      else if (actionSt == "CANCEL-FAILED")
        status.attr("data-actions-state-machine", "FAILED");
      else // actionSt == "CANCEL-READY"
        status.attr("data-actions-state-machine", "READY");
      var doc_id = status.parent().attr("data-id");
      showActions([doc_id]);
      
      progress([doc_id]);
    });
    
    $(".document-actions #cancel").live('click', function (ev) {
      var status = $(this).parent().parent().children().filter(".document-status");
      var actionSt = status.attr("data-actions-state-machine");
      if (actionSt == "PROCESSING")
        status.attr("data-actions-state-machine", "CANCEL-PROCESSING");
      else // actionSt == "FAILED"
        status.attr("data-actions-state-machine", "CANCEL-FAILED");
      var doc_id = status.parent().attr("data-id");
      showActions([doc_id]);
      
      var div_content = status.children().first();
      div_content.text("remove?");
      div_content.removeClass();
      div_content.addClass("label");
      div_content.addClass("label-warning");
    });
    
    
    var titles = $(".document-title span");
    var actions = $.merge($(".document-actions a"), $(".document-actions a#privacy i"));
    var infos = $(".document-info");
    var positions = $(".document-line-position");
    var tooltipElements = $.merge(titles, $.merge(actions, $.merge(infos, positions)))
    hookTooltips(tooltipElements);
    
    function hookTooltips(elems) {
        elems.hover(
          function(){
            $(this).tooltip("show");
          },
          function(){
            $(this).tooltip("hide");
          })
    }

})

</script>
{% endblock %}


{% block content %}
{% if documents %}
<table class="table">
  <thead>
    <tr>
      <th>{% trans "Document" %}</th>
      <th>{% trans "Collaborators" %}</th>
      <th>{% trans "Tags" %}</th>
      <th>{% trans "Owner" %}</th>
      <th><div align="center">{% trans "Status" %}</div></th>
      <th>{% trans "Pages" %}</th>
      <th>{% trans "Actions" %}</th>
    </tr>
  </thead>
  <tbody>
  {% for document in documents %}
    <tr class="document-row" data-id="{{ document.id }}">
      <td class="document-title"><span data-href="{{ document.get_absolute_url }}" title="{{ document.title }}" data-toggle="tooltip" data-placement="left">{% if document.status == "ready" %}<a href="{{ document.get_absolute_url }}" style="text-decoration:none;">{{ document.title }}</a>{% else %}{{ document.title }}{% endif %}</span> <br/> <span style="color:gray; font-size:75%" title="{{ document.docfile_basename }}" data-toggle="tooltip" data-placement="left">{{ document.docfile_basename }}</span></td>
      <td class="document-collaborators">
          <div id="sharers_cell">
            <span id="sharers" >
            {% for sharer in document.get_users_with_perms %}
                <a class="nolink" href="{% url 'remove_sharer' document.pk sharer.username %}">
                <span class="sharer" data-id="{{ sharer.id }}">@{{ sharer.username }}</span></a>
<!--                {% if not forloop.last %},{% endif %}-->
            {% endfor %}
            </span>
            <input id="id_users" type="text" class="picker ui-autocomplete-input" name="user" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true" data-url="{% url 'autocomplete_users' document.pk %}" >
          </div>
      </td>
      <td class="document-tags">
          <div id="taggit_tags_cell">
            <span id="taggit_tags" >
            {% for taggit_tag in document.taggit_tags.names %}
                <a class="nolink" href="{% url 'remove_taggit_tag' document.pk taggit_tag %}">
                <span class="taggit_tag" data-id="{{ taggit_tag }}">{{ taggit_tag }}</span></a>
<!--                {% if not forloop.last %},{% endif %}-->
            {% endfor %}
            </span>
            <input id="id_taggit_tags" type="text" class="picker2 ui-autocomplete-input" name="taggit_tag" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true" data-url="{% url 'autocomplete_taggit_tags' %}" >
          </div>
      </td>
<!--      {% url 'userena_profile_detail' user as user_url %}-->
      {% url 'userena_profile_detail' document.owner as user_url %}
      <td class="document-owner"><a href="{{ user_url }}" style="text-decoration:none; color:#333;">@{{ document.owner }}</a></td>
      <td class="document-status" data-document-id="{{ document.id }}" data-document-status="{{ document.status }}"><div class="label" align="center">{{ document.status }}</div> <span title="{{ document.task_error }}" align="right" class="document-info" id="{{document.id}}" data-toggle="tooltip" data-placement="right"><i class="icon-info-sign"></i></span></td>
      <td class="document-pages" style="text-decoration:none; color:#333;"><div align="center">{{ document.page_count }}</div></td>
      <td class="document-actions" data-document-id="{{ document.id }}">
        <a id="privacy" href="{% url 'change_privacy_document' document.pk %}" class="READY">{% if document.public %}<i data-toggle="tooltip" data-placement="bottom" class="icon-eye-open" title="Click to make it private"></i>{% else %}<i data-toggle="tooltip" data-placement="bottom" class="icon-eye-close" title="Click to make it public"></i>{% endif %}</a>
        <a data-toggle="tooltip" data-placement="bottom" title="View" href="{{ document.get_absolute_url }}" class="READY"><i class="icon-file"></i></a>
        <a data-toggle="tooltip" data-placement="bottom" title="Edit" href="{% url 'edit_document' document.pk %}" class="READY"><i class="icon-edit"></i></a>
        <a data-toggle="tooltip" data-placement="bottom" id="confirm-remove" title="Remove" href="{% url 'remove_document' document.pk %}" data-document-id="{{ document.id }}" class="CANCEL-PROCESSING CANCEL-FAILED CANCEL-READY"><i class="icon-ok"></i></a>
        <a data-toggle="tooltip" data-placement="bottom" id="retry" title="Retry" href="{% url 'retry_document' document.pk %}" data-document-id="{{ document.id }}" class="FAILED"><i class="icon-repeat"></i></a>
        <a data-toggle="tooltip" data-placement="bottom" id="cancel-remove" title="Cancel" class="CANCEL-PROCESSING CANCEL-FAILED CANCEL-READY"><i class="icon-ban-circle"></i>
        <a data-toggle="tooltip" data-placement="bottom" id="cancel" title="Cancel" class="PROCESSING FAILED"><i class="icon-ban-circle"></i>
        <a data-toggle="tooltip" data-placement="bottom" id="remove" title="Remove" data-document-id="{{ document.id }}" class="READY"><i class="icon-trash"></i></a>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endif %}

<a href={% url 'add_document' %} class="btn offset4 span3" > {% trans "Upload a new Document" %} </a>

{% endblock %}
