<div class="docviewer-historyLink" id="<%= date_string %>">
  <span class="docviewer-trigger">
    <a href="#" class="docviewer-navEditionTimestamp"><%= date_string_formatted %></a>
    <a href="#" class="docviewer-navEditionUser">(@<%= author %>)</a>
  </span>
</div>
