{% extends 'base.html' %}
{% load highlight %} 

{% block extra_css %}
<!--[if (!IE)|(gte IE 8)]><!-->
  <link href="{{ STATIC_PREFIX }}visualsearch/css/visualsearch-datauri.css" media="screen" rel="stylesheet" type="text/css" />
<!--<![endif]-->
<!--[if lte IE 7]><!-->
  <link href="{{ STATIC_PREFIX }}visualsearch/css/visualsearch.css" media="screen" rel="stylesheet" type="text/css" />
<!--<![endif]-->
{% endblock %}

{% block extra_js %}
<script src="{{ STATIC_PREFIX }}visualsearch/js/visualsearch.js" type="text/javascript"></script>
<script src="{{ STATIC_PREFIX }}js/json2.js" type="text/javascript"></script>
{% endblock %}

{% block extra_scripts %}
<script type="text/javascript" charset="utf-8">
      $(document).ready(function() {
        window.visualSearch = VS.init({
          container : $('.visual_search'),
          query      : '',
          autosearch  : true,
          showFacets : true,
          unquotable : [
            'text', 'title', 'author', 'source', 'description', 'notes'
          ],
          callbacks  : {
            search : function(query, searchCollection) {


                  //data: {},
                  //data: searchCollection.toJSON(),
                  //?q="+facets[0]['text']
                  //
                  //url: "http://localhost:8000/search/", //data: {},
//              qdata={}
//              searchCollection.each(function (elem){ 
//                  field = elem.toJSON()
//                  if (field['category'] != 'text')
//                    qdata[field['category']]=field['value']; 
//                  else{
//                    qdata['q']=field['value']; 
//                  }
//                });
//              $.ajax({url: "http://localhost:8000/search/", 
//                      data: qdata,
//                      success:   function(payload){ 
//                          $('#search_query').append(payload)
//                        },
//                      //dataType: 'json',
//                      type: 'GET',});
              url="?"
              searchCollection.each(function (elem){ 
                  field = elem.toJSON()
                  if (field['category'] != 'text')
                    url += field['category']+"="+field['value']+"&"; 
                  else{
                    url += "q="+field['value']+"&"; 
                  }
                });

              window.location = url
            },

            valueMatches : function(category, searchTerm, callback) {
//              switch (category) {
//              case 'title':
//                  callback([
//                    {% for title in titles %}
//                      '{{ title }}',
//                    {% endfor %}
//                    ])
//                    ;
//                  break;
//              case 'author':
//                  callback([
//                    {% for author in authors %}
//                      '{{ author }}',
//                    {% endfor %}
//                    ])
//                    ;
//                  break;
//                case 'source':
//                  callback([
//                    {% for source in sources %}
//                      '{{ source }}',
//                    {% endfor %}
//                    ])
//                    ;
//                  break;
//              }
            },
            facetMatches : function(callback) {
              callback([
                'text', 'title', 'author', 'source', 'description', 'notes'
              ]);
            }
          }
        });
      });
    </script>

{% endblock %}

{% block content %}
<div class="container">
  <h2>Search</h2>
  <div class="visual_search"></div>

  {% comment %}
  <form class="navbar-search pull-left" method="get" action=".">
    <table>
      {{ form.as_table }}
      <tr>
        <td>&nbsp;</td>
        <td>
          <input type="submit" value="Search">
        </td>
      </tr>
    </table>
  </form>
  {% endcomment %}
</div>

<div id="search_query"></div>

{% if query %}
  
<h2>Results</h2>


{% for id, pages in documents.items %}
  {% if forloop.first %}
    <ul class="media-list">
  {% endif %}


    <li class="media">
      <h3 class="media-heading">{{ pages.0.title }}</h3>
      <a class="pull-left" href="{{ pages.0.object.document.get_absolute_url }}#search/p{{ pages.0.object }}/{{query}}">
        <img class="media-object" src="{{ pages.0.object.document.get_thumbnail }}">
      </a>

      <div class="media-body">

        <div class="row">
          <div id="avoid-first-child"></div>
          {% for item in pages|slice:":6" %}
            <div class="span3 media">
                <a class="summary" href="{{ item.object.document.get_absolute_url }}#search/p{{ item.object.page }}/{{query}}">
                  Page {{item.object.page}}:
                
                {% highlight item.object.text with query %}
                </a>
            </div>
          {% endfor %}
        </div>
      </div>
    </li>
  {% if forloop.last %}
    <ul class="media-list">
  {% endif %}
{% empty %}
  <p>No results found.</p>
{% endfor %}


{% else %}
  {# Show some example queries to run, maybe query syntax, something else? #}
{% endif %}


{% endblock %}
