{% extends 'base.html' %}
{% load highlight %}
{% load i18n %}  
{% load pdb %}

{% block extra_css %}
<!--[if (!IE)|(gte IE 8)]><!-->
  <link href="{{ STATIC_PREFIX }}visualsearch/css/visualsearch-datauri.css" media="screen" rel="stylesheet" type="text/css" />
<!--<![endif]-->
<!--[if lte IE 7]><!-->
  <link href="{{ STATIC_PREFIX }}visualsearch/css/visualsearch.css" media="screen" rel="stylesheet" type="text/css" />
<!--<![endif]-->
{% endblock %}

{% block extra_js %}
<script src="{{ STATIC_PREFIX }}visualsearch/js/visualsearch.js" type="text/javascript"></script>
<script src="{{ STATIC_PREFIX }}js/jquery.autoellipsis-1.0.10.min.js" type="text/javascript"></script>
<script src="{{ STATIC_PREFIX }}js/json2.js" type="text/javascript"></script>
<script src="{{ STATIC_PREFIX }}js/festos.js" type="text/javascript"></script>
{% endblock %}

{% block extra_scripts %}
<script type="text/javascript" charset="utf-8">
      $(document).ready(function() {
        window.visualSearch = VS.init({
          container : $('.visual_search'),
          query      : "{{ vs_query }}",
          autosearch  : true,
          showFacets : true,
          unquotable : [
            'text', 'title', 'author', 'source', 'description', 'notes'
          ],
          callbacks  : {
            search : function(query, searchCollection) {
              url="?";
              searchCollection.each(function (elem){ 
                  field = elem.toJSON()
                  if (field['category'] == 'text')
                    url += "q="+field['value']+"&"; 
                  else{
                    url += field['category']+"="+field['value']+"&";
                  }
                });

              window.location = url
            },
            valueMatches : function(category, searchTerm, callback) {
            },
            facetMatches : function(callback) {
              callback([
                'text', 'title', 'author', 'source', 'description', 'notes'
              ]);
            }
          }
        });
      });
    </script>

{% endblock %}

{% block content %}
<h2>{% trans "Search" %}</h2>
<div class="visual_search"></div>
{% if vs_query %}
<p><small>{{ documents|length }} {% trans "books found" %}</small></p>


{% for id, result in documents.items %}
  {% if forloop.first %}
    <ul class="media-list">
  {% endif %}
    <li class="media">
      <h3 class="media-heading">
        <a href="{{ result.document.get_absolute_url }}}">
          {% if query_dict.title %}
            {% highlight result.document.title with query_dict.title css_class "highlighted" max_length 5000000 %},
          {% else %}
            {{ result.document.title }},
          {% endif %}
          {% if query_dict.author %}
            {% highlight result.document.book.author with query_dict.author max_length 5000 %}
          {% else %}
            {{ result.document.book.author }}
          {% endif %}
        </a>
        <small>
          @{{ result.document.book.owner }}
        </small>
      </h3>
      {% if not query_dict.q %}
      <a class="pull-left thumbnail-doc" href="{{ result.document.get_absolute_url }}">
          <img class="media-object" src="{{ result.document.get_thumbnail }}">
      </a>
      {% else %}
      {% endif %}
      <div class="media-body">
        {% if query_dict.source %}
          <p>
           <strong> Source: </strong>{% highlight result.source with query_dict.source  %}
          </p>
        {% endif %}
        {% if query_dict.description %}
          <p>
           <strong> Description: </strong>{% highlight result.description with query_dict.description %}
          </p>
        {% endif %}
        {% if query_dict.notes %}
          <p>
           <strong> Notes: </strong>{% highlight result.notes with query_dict.notes %}
          </p>
        {% endif %}
      </div>
      {% if query_dict.q %}
        <a class="pull-left thumbnail-doc" href="{{ result.document.get_absolute_url }}">
          <img class="media-object" src="{{ result.document.get_thumbnail }}">
        </a>
        <div class="media-body">
          <div class="row">
            <div id="avoid-first-child"></div>

            {% for page in result.pages|slice:":6" %}
              <div class="span3 media">
                <a class="summary" href="{{ page.document.get_absolute_url }}#search/p{{ page.page }}/{{query}}">
                  Page {{page.page}}: {% highlight page.text with query %}
                </a>
              </div>
            {% endfor %}
          </div>
        </div>
      {% endif %}
    </li>
  {% if forloop.last %}
    <ul class="media-list">
  {% endif %}
{% empty %}
  <p>{% trans "No results found." %}</p>
{% endfor %}


{% else %}
  {# Show some example queries to run, maybe query syntax, something else? #}
{% endif %}


{% endblock %}
